#cardapio {
  min-height: 100vh;
  position: relative;
  .admin-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.cardapio-conteudo[data-list-size-p="true"] {
  position: relative;
  top: calc(50vh - 100px);
  transform: translateY(-50%);
  @include resp-height(660px) {
    position: static;
    transform: none;
  }
}

.cardapio-conteudo[data-list-size-p="false"] {
  position: static;
  transform: none;
}

.cardapio-intro {
  @include container;
  text-align: center;
  margin-top: $s8;
  margin-bottom: $s8;
  @include screen(tablet) {
    margin-top: $s6;
    margin-bottom: $s6;
  }
  h1 {
    @include title-1;
    color: $c1;
    margin-bottom: $s1;
  }
  p {
    @include text-1;
    color: $c3;
  }
}

.cardapio-nav {
  @include container;
  padding-bottom: $s8 + px-rem(51px);
  // @include screen(tablet) {
  //   padding-bottom: $s9 + px-rem(51px);
  // }

  ul {
    display: flex;
    flex-direction: column;
    gap: $s4;
  }
  li {
    -webkit-tap-highlight-color: transparent;
    @include box-shadow;
    padding: 0;
    display: flex;
    gap: $s5;
    justify-content: space-between;
    cursor: pointer;
    & > a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $s4;
      @include text-1;
      padding: $s5 $s6;
      width: 100%;
      p:nth-of-type(1) {
        margin-bottom: $s1;
        color: $c2;
      }
      p:nth-of-type(2) {
        color: $c3;
      }
    }
    & > div {
      min-width: 70px;
      padding: $s5 $s6 $s5 0;
      display: flex;
      align-items: center;
      gap: $s2;
      @include screen(mobile) {
        gap: $s1;
        min-width: 60px;
      }
      button {
        cursor: pointer;
        background-color: $w1;
        outline: none;
        border: none;
        padding: none;
        -webkit-tap-highlight-color: transparent;
        min-width: 24px;
        min-height: 24px;
        &:nth-of-type(1) {
          img {
            min-width: 17px;
            min-height: 17px;
          }
        }
        &:nth-of-type(2) {
          img {
            min-width: 15px;
            min-height: 15px;
          }
        }
      }
    }
  }
}

.admin-busca {
  background-color: $w1;
  margin-bottom: $s7;
  @include shadow;
  border-radius: 50px;
  display: flex;
  margin-left: $s1;
  margin-right: $s1;
  @include screen(tablet) {
    margin-left: 0;
    margin-right: 0;
  }
  input {
    flex: 1;
    @include text-2;
    color: $c2;
    outline: none;
    border: none;
    background: none;
    padding: $s2 $s6;
    width: auto;
  }
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 $s6;
    img {
      min-width: 24px;
    }
    @include screen(mobile) {
      padding: 0 $s6 0 $s2;
    }
  }
}

.admin-paginacao {
  margin-top: $s8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > p {
    @include text-2;
    color: $c3;
  }
  & > div {
    display: flex;
    gap: $s4;
    & > div {
      display: flex;
      gap: $s4;
      @include button;
      @include screen(tablet) {
        p {
          display: none;
        }
      }
    }
    @include screen(tablet) {
      gap: $s2;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
