.conteudos-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudos-conteudo {
  @include container;
  width: 100%;
  flex-grow: 1;
  h1 {
    @include mtop-7;
    @include mbottom-6;
    @include title-2;
  }
}

.conteudos-busca {
  display: flex;
  @include mbottom-6;
  #busca {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    border: 1px solid $c3;
    padding: 7px $s3;
    @include text-2;
    color: $c2;
    &:focus {
      border: 1px solid $c1;
    }
    @include screen(notebook-s) {
      padding: 5px $s3;
    }
  }
  #lupa {
    background: none;
    outline: none;
    border: none;
    border-top: 1px solid $c3;
    border-right: 1px solid $c3;
    border-bottom: 1px solid $c3;
    width: 80px;
    cursor: pointer;
    transition: 0.28s;
    img {
      @include align-div;
    }
    &:hover {
      background-color: $w2;
    }
  }
}

.conteudos-artigos-item {
  display: block;
  position: relative;
  p {
    @include text-2;
    @include mtop-1;
    color: $c3;
    display: none;
  }
  & > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $s4;
    h4 {
      @include subtitle-1;
      color: $c2;
      display: flex;
      gap: $s3;
      & > img {
        display: block;
        animation: none !important;
      }
    }
    img {
      display: none;
    }
  }
  &:not(:nth-of-type(1)) {
    @include ptop-4;
  }
  &:not(:last-of-type) {
    @include pbottom-4;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgba(118, 100, 90, 0.2);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &:hover {
    p {
      display: block;
      animation: left-to-right 0.28s forwards;
    }
    & > div:nth-of-type(1) {
      img {
        display: block;
        animation: left-to-right 0.28s forwards;
      }
    }
  }
}

.conteudos-artigos {
  @include mbottom-6;
}

.conteudos-paginacao {
  @include mbottom-6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include text-2;
  color: $c2;
  & > div {
    display: flex;
    gap: $s4;
    & > div {
      display: flex;
      gap: $s2;
      color: $c2;
      @include link-text;
      cursor: pointer;
      transition: 0.15s;
      &:hover {
        color: $c3;
      }
    }
  }
}

@keyframes right-to-left {
  from {
    transform: translateX($s2);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left-to-right {
  from {
    transform: translateX(-$s2);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// responsividade

.conteudos-artigos-item {
  @include screen(tablet) {
    p {
      display: block;
      padding-right: $s4;
    }
    & > div:nth-of-type(1) {
      img {
        display: block;
      }
    }
    &:hover {
      p {
        animation: none;
      }
      & > div:nth-of-type(1) {
        img {
          animation: none;
        }
      }
    }
  }
}

.conteudos-paginacao {
  @include screen(tablet) {
    flex-direction: column-reverse;
    gap: $s3;
  }
  @include screen(mobile) {
    align-items: end;
    gap: $s5;
    & > div {
      flex-direction: column-reverse;
      gap: $s1;
      align-items: end;
      & > div {
        img {
          display: none;
        }
      }
    }
  }
}
