.inicio-sobre-bg {
  background-color: $w1;
  @include ptop-9;
  @include pbottom-9;
}

.inicio-sobre {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .img-container {
    position: relative;
    &.img-mobile {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
    &::after {
      content: "";
      background: url("@/assets/img/inicio/decorador.svg");
      background-size: cover;
      display: block;
      width: 120px;
      height: 120px;
      position: absolute;
      bottom: -30px;
      right: -30px;
    }
  }
  h2 {
    @include title-2;
    @include mbottom-4;
  }
  p {
    @include text-1;
    @include mbottom-4;
  }
  a {
    @include link-box;
  }
  & > div:nth-of-type(1) {
    margin-right: $s5;
  }
}

// responsividade

.inicio-sobre {
  @include screen(tablet) {
    grid-template-columns: 1fr;
    .img-container {
      &:not(.img-mobile) {
        display: none;
      }
      &.img-mobile {
        display: block;
        @include mbottom-4;
      }
      &::after {
        width: 95px;
        height: 95px;
        bottom: -23px;
        right: -23px;
      }
    }
    & > div:nth-of-type(1) {
      margin-right: 0;
    }
  }
}
